.advantages {
  padding-top: 70px;
  padding-bottom: 70px;
}

.advantages__title {
  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
  text-align: center;
  color: #383A4C;
  margin-bottom: 25px;
}

.advantages__span {
  display: block;
  align-items: center;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #383A4C;
  position: relative;
  width: 190px;
  margin: 0 auto;
  margin-bottom: 35px;

}

.advantages__span:before {
  content: '';
  display: block;
  position: absolute;
  width: 44px;
  height: 2px;
  background: #383A4C;
  right: 147px;
  bottom: 12px;
}

.advantages__span:after {
  content: '';
  display: block;
  position: absolute;
  width: 44px;
  height: 2px;
  background: #383A4C;
  left: 147px;
  bottom: 12px;
}

.advantages__description {
  display: block;
  margin: 0 auto;
  max-width: 724px;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #383A4C;
  margin-bottom: 57px;
}

.advantages__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #383A4C;
}

.advantages__list {
  display: flex;
  justify-content: center;
  gap: 53px;
  flex-wrap: wrap;
}

.advantages__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 193px;
  position: relative;
  row-gap: 16px;
}

.advantages__img {
  position: relative;
}

.advantages__spans {
  font-weight: 500;
  font-size: 57px;
  line-height: 100%;
  color: #FFFFFF;
  display: block;
  position: absolute;
  left: 80px;
  top: 35px;
}

@media (max-width: 1024px) {

  .advantages {
    padding-top: 72px;
  }

  .advantages__title {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 23px;
  }

  .advantages__span {
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 28px;
  }

  .advantages__description {
    font-size: 16px;
    line-height: 23px;
    padding: 0 5%;
  }

  .advantages__span:after {
    width: 41px;
    left: 141px;
  }

  .advantages__span::before {
    width: 41px;
    right: 141px;
  }

  .advantages__img {
    display: block;
    width: 104px;
    height: 104px;
  }

  .advantages__spans {
    font-weight: 500;
    line-height: 73px;
    left: 80px;
    top: 18px;
  }

  .advantages__list {
    gap: 37px;
  }

  .advantages__item {
    row-gap: 28px;
  }

  .advantages__text {
    font-size: 18px;
    line-height: 25px;
  }
}

@media (max-width: 320px) {

  .advantages {
    padding-top: 31px;
    padding-bottom: 64px;
  }

  .advantages__title {
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 17px;
  }

  .advantages__span {
    font-size: 16px;
    line-height: 19px;
  }

  .advantages__span:after {
    width: 21px;
    left: 141px;
    height: 1px;
    top: 11px;
  }

  .advantages__span::before {
    width: 21px;
    right: 141px;
    height: 1px;
    top: 11px;
  }

  .advantages__description {
    font-size: 12px;
    line-height: 17px;
    padding: 0 2%;
    margin-bottom: 41px;
  }

  .advantages__list {
    gap: 39px;
  }
}




