.trade {
  position: relative;
  color: #ffffff;
}

.trade__title {
  font-weight: 900;
  font-size: 52px;
  line-height: 61px;
  text-align: center;
  margin-bottom: 35px;
}

.trade__text {
  font-size: 22px;
  line-height: 31px;
  text-align: center;
  color: rgba(255, 255, 255, 0.75);
  margin-bottom: 88px;
  padding: 0 10%;
}

.trade__text-mobile {
  display: none;
}

.trade__btn {
  margin: 0 auto;
  display: block;
  color: #ffffff;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  padding: 12px 48px;
  background-color: #15A9CB;
  box-shadow: 0 4px 25px rgba(21, 169, 203, 0.3);
  border-radius: 50px;
  border: 1px solid transparent;
}

@media (max-width: 1024px) {

  .trade__title {
    font-size: 40px;
    line-height: 47px;
    padding: 0 10%;
    margin-bottom: 29px;
  }

  .trade__text {
    font-size: 18px;
    line-height: 25px;
    padding: 0 10%;
    margin-bottom: 56px;
  }

  .trade__text-mobile {
    display: none;
  }
}

@media (max-width: 320px) {

  .trade__title {
    font-size: 20px;
    line-height: 23px;
    padding: 0 5%;
    margin-bottom: 26px;
  }

  .trade__text {
    display: none;
  }

  .trade__text-mobile {
    display: block;
    text-align: center;
    color: rgba(255, 255, 255, 0.75);
    font-size: 14px;
    line-height: 20px;
    padding: 0 1%;
    margin-bottom: 51px;
  }

  .trade__btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    padding: 9px 38px;
  }
}
